<h1>Listing wants</h1>

<% min = minmaxpage(@page, @lastpage, 'min') %>
<% max = minmaxpage(@page, @lastpage, 'max') %>

 <% if min < @page %>
     <%= link_to( "Prev", :action => "index", :page => (@page - 1) ) %>
 <% end %>
 <% if min > 1 %>
     <%= link_to( "1", :action => "index", :page => 1 ) %>
 <% end %>
 <% x = min %>

<% while x <= max %>
    <% if x.to_i == @page.to_i %>
        <span class="current"><%= x %></span>
    <% else %>
        <%= link_to( x.to_s, :action => "index", :page => x ) %>
    <% end %>
    <% x = x+1 %>
<% end %>

<% if max < @lastpage %>
    <%= link_to( @lastpage.to_s, :action => "index", :page => @lastpage ) %>
<% end %>

<% if max > @page %>
    <%= link_to( "Next", :action => "index", :page => (@page + 1) ) %>
<% end %>


<table>
  <tr>
    <th>Toon</th>
    <th>Boss</th>
    <th>Wing</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wants.each do |want| %>
  <tr>
    <td><%= link_to want.toon.name, want.toon if want.toon %><%= want.toon_id unless want.toon %></td>
    <td><%= link_to want.boss.name, want.boss %></td>
    <td><%= link_to want.boss.wing.name, want.boss.wing %></td>
    <td><a href="#" rel="item=<%= want.item_id %>"><%= want.item_name %> :: <%= want.item_id %></a></td>
    <td><%= link_to 'Show', want %></td>
    <td><%= link_to 'Edit', edit_want_path(want) %></td>
    <td><%= link_to 'Destroy', want, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Want', new_want_path %>
