<%= form_for(@toon) do |f| %>
  <% if @toon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toon.errors.count, "error") %> prohibited this toon from being saved:</h2>

      <ul>
      <% @toon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--div class="field">
    <%= f.label :toon_id %><br />
    <%= f.text_field :toon_id %>
  </div-->
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.select(:role_id, Role.all.collect {|a| [ a.name, a.id ] }) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
